  .ql-container.ql-snow {
    border: none !important;
    margin-top: 110px;
  }

  .ql-toolbar.ql-snow {
    border: none !important;
    border-bottom: 1px solid #ddd !important;
    position: fixed;
    z-index: 1000;
    background-color: white;
    margin-top: 55px;
  }

  .ql-editor {
    padding: 0 !important;
  }

  .ql-container:focus,
  .ql-toolbar:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  
.toolbar{
  z-index: 1001;
  margin-top: 50%;
}
  