.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--tercearyColor);
  position: relative;
  flex-direction: column;
}

.title-container {
  width: 100%;
  height: 100%;
  padding: 10px;
  max-width: calc(100vw - 150px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.navbar-title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--folderTextColor);
  filter: brightness(0.9);
  margin-left: 15px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 600px;
  z-index: 100;

}

.btn-user-container {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 1.1px;
  border-radius: 5px;
  background-color: var(--boderColor);
  filter: grayscale(0.1);
}

.logo-container input {
  max-width: 512px;
  height: 25px;
  direction: ltr;
  background-color: var(--secondaryColor) !important;
  border: none;
  color: var(--currentColor) !important;
  font-family: var(--folderFontFamily);
}

.logo-container span {
  border: none;
  background-color: var(--secondaryColor) !important;
}

.logo-container svg {

  fill: var(--currentColor);

}

.ant-dropdown-menu {
  background-color: var(--mainColor) !important;
  width: 151px;
  border-radius: 0px !important;
  margin-top: -3px !important;
}

.ant-dropdown-menu-title-content {
  color: var(--secondaryColor) !important;
}

.ant-dropdown-menu-item:hover {
  background-color: var(--currentColor) !important;
}

.navbar-buttons button {
  background-color: var(--mainColor) !important;
  color: var(--secondaryColor) !important;
  border: none;
  height: 50px;
  width: 120px;
  border-radius: 0px;
  font-size: 16px;


}

.navbar-buttons a {
  color: var(--mainColor) !important;
}

.navbar-page-size {
  max-height: 120px !important;
}

.page-bar-container {
  background-color: var(--pageBarColor);
  filter: opacity(0.95);
  height: 110px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
  position: sticky;
}

.page-bar-publish-button {
  background-color: hsla(162, 63%, 41%);
  color: white;
  filter: brightness(0.95);
  padding: 10px 5px;
  width: 70px;
  height: 40px;
  font-size: 14px;
}
