.folder-icon {
    font-size: 25px;
}

.file,
.folder {
    height: 40px;
    cursor: pointer;
    position: relative;
    border: 2px solid transparent;

}


.folder-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 145px);
    pointer-events: none;
}

.folder-count-container {
    display: flex;
    align-items: center;
    column-gap: 7px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
    pointer-events: none;
    right: 10px;
    color: gray;
    font-size: 13px;
}

.folder-count-container svg {
    scale: 1.5;
}


.folder::before {
    content: " ";
    position: absolute;
    border-bottom: var(--folder-decoration-lines);
    width: 9px;
    height: 20px;
    left: -10px;
    top: -1px;
}

.file::before {
    content: " ";
    position: absolute;
    border-bottom: var(--folder-decoration-lines);
    width: 15px;
    height: 20px;
    left: -10px;
    top: -1px;
}


.folder-container {
    position: relative;
}

.folder-container::before {
    position: absolute;
    content: " ";
    height: 100%;
    width: 30px;
    left: -20px;
    top: -1px;
}

/* this is the line on the left of the folder */
.folder-container::before {
    position: absolute;
    content: " ";
    border-left: var(--folder-decoration-lines);
    height: 110%;
    top: -7px;
    left: -10px;
}

/* this places a line of the same color of background in order to hide the last line on the left of the folder on the last folder or file */
.folder-container:last-child::after {
    position: absolute;
    content: " ";
    border-left: 2px solid #E5E7EB; 
    top: 21px;
    bottom: -90px;
    left: -10px;
}

.main-folder-container {
    margin-left: 2px;
}

/* illuminate the folder when it's being dragged over */
.folder.drag-over {
    border-color: hsl(205, 65%, 55%);
}