@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    direction: ltr
}
#root, html, body {
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
    background-color: #F0F0F0;
    font-family: Helvetica, Arial, sans-serif;
    
  --toastify-toast-width: 450px;
  --toastify-toast-max-height: 400px;
}

a, th, td, tr, .rdt_TableCol, small {
    color: #808080;
}

.rdt_TableCol {
    letter-spacing: 0.1rem;
}

nav > * {
    letter-spacing: 0.2rem;
}
 

.page-item .page-link {
    background-color: white !important;
    color: #808080 !important;
}

#main-menu-nav {
    border-width: 1px;
    border-color: #FFF0E8;
    border-style: solid;
}


