@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

* {
    direction: ltr;
}
#root,
html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    /* background: linear-gradient(68.66deg, #e8e2ff 1.3%, #f7f5ff 50%); */
    /* background-color: lightgray; */
    font-family: Roboto, sans-serif;

    --toastify-toast-width: 450px;
    --toastify-toast-max-height: 400px;
}

a,
th,
td,
tr,
.rdt_TableCol,
small {
    color: #808080;
}

.rdt_TableCol {
    letter-spacing: 0.1rem;
}

nav > * {
    letter-spacing: 0.2rem;
}

.page-item .page-link {
    background-color: white !important;
    color: #808080 !important;
}

#main-menu-nav {
    border-width: 1px;
    border-color: #fff0e8;
    border-style: solid;
}

.ant-pagination-item-link {
    rotate: 180deg;
}

.ant-input-number {
    width: 100% !important;
}

textarea {
    height: auto !important;
}
