* {
    direction: ltr;
}

:root {
    /*global*/
    /*--mainColor: rgb(109 74 255 / 99%);*/ /*classic*/
    --mainColor: #007AC2; /*insurance*/
    --mainColorLight: #cdedff;/*insurance*/
    --backgroundColor: rgba(255, 255, 255);
    --backGroundDangerColor: rgb(255, 34, 34);
    --backGroundNeutralColor: rgb(180, 180, 180);
    
    --secondaryColor: hsla(205, 79%, 92%);
    --tercearyColor: rgba(255, 255, 255);
    --currentColor: hsl(205, 65%, 55%);
    --boderColor: hsla(210, 31%, 80%);
    --folderTextColor: hsla(209, 34%, 30%);
    --titleFontFamily: Roboto, sans-serif;
    --folderFontFamily:
    "SF Pro", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --navBarHeight: 300px;
    --pageBarColor: hsla(211, 39%, 23%);
    --pageWidth: 700px;
    /*--folder-decoration-lines: 2px solid rgb(171, 157, 228);*/
    --folder-decoration-lines: 1px dotted rgb(182, 180, 180);
    --fillColor: rgb(222, 222, 222);
    --strokeColor: rgb(135, 135, 135);
    --selectedFileColor: rgb(233, 232, 232);
    --hoverColor: rgb(231, 231, 231);
    --strokeIconColor: rgb(109 74 255 / 99%) !important;
    --strokeIconColor2: rgba(159, 137, 248, 0.99) !important;
    
    /*button*/
    --buttonTextColor: var(--mainColor);
    --buttonborderColor: var(--mainColor);
    --buttonTextColor2: rgb(187, 29, 29);
    --buttonborderColor2: green;
    --buttonBorderThickness: 1px;

    --boxShadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.25);
    --cornetRounded: 30px;
    --butonTextSize: 14px;

    
}

.org-card:hover{
 border-color: var(--mainColor);
}

.spiner{
    color: var(--mainColor) !important;
}

body {
    background-color: var(--backGroundColor) !important;
}

* {
    font-family: "Inter", sans-serif;
}

.users__avatar svg{
   color: gray;
}
::selection {
    background-color: var(--strokeColor);
    color: var(--selectedFileColor); 
}

.folder-nav-button {
    border-radius: 15px;
}
.folder-nav-button:hover {
   background-color: rgb(109 74 255 / 10%) !important;
}
.folder-nav-icon {
    stroke-width: 1px;
    stroke: rgb(109 74 255 / 99%) !important;  
}

.folder-nav-icon2 {
    scale: 1.5;
    fill: rgba(159, 137, 248, 0.99) !important;
}
/*
#searchBox::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid gray;
    pointer-events: none;
}*/